.form {
  width: 500px;
  margin: 0 auto;

  &__input {
    width: 100%;
    padding: 10px;
    border: 1px solid $white;
  }

  &__label {
    display: block;
    margin: 15px 0 0 0;

    &_errrors {
      color: $red;
    }

  }

  &__errors {
    color: $red;

    &__message {
      display: block;
      margin: 5px 0;
    }
  }
}

