.form {
  width: 500px;
  margin: 0 auto;

  &_full_width {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__column_half_width {
      width: calc(50% - 30px);
      padding: 0 15px;
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: 1px solid $white;

    &_error {
      box-shadow: 0 0 5px rgb(238, 15, 24);
      border: 1px solid rgb(238, 15, 24);
    }
  }

  &__label {
    display: block;
    margin: 15px 0 0 0;
  }

  &__errors {
    color: $red;

    &__message {
      display: block;
      margin: 5px 0;
    }
  }
}

.avatar {
  width: 100%;
}